<?xml version="1.0"?>

<window>
    <position_x>-1</position_x>
    <position_y>-1</position_y>
    <state></state>
    <width>1920</width>
    <height>1018</height>
    <style material_theme="Dark" material_primary="#80deea" material_accent="#81d4fa" toolbar_color_light="" toolbar_text_color_light="" toolbar_color_dark="" toolbar_text_color_dark="" plugin_toolbar_color_light="" plugin_toolbar_text_color_light="" plugin_toolbar_color_dark="" plugin_toolbar_text_color_dark="" />
    <menus>
        <drawer visible="true" default="true" />
        <plugins visible="true" from_paths="true" />
    </menus>
</window>
<plugin filename="GzScene3D">
    <ignition-gui>
        <title>3D View</title>
        <anchor line="right" target="window" target_line="right" />
        <anchor line="left" target="window" target_line="left" />
        <anchor line="top" target="window" target_line="top" />
        <anchor line="bottom" target="window" target_line="bottom" />
        <property key="x" type="double">0</property>
        <property key="y" type="double">0</property>
        <property key="z" type="double">0</property>
        <property key="width" type="double">1501</property>
        <property key="height" type="double">970</property>
        <property key="opacity" type="double">1</property>
        <property key="enabled" type="bool">true</property>
        <property key="visible" type="bool">true</property>
        <property key="state" type="string">docked</property>
        <property key="baselineOffset" type="double">0</property>
        <property key="clip" type="bool">false</property>
        <property key="focus" type="bool">false</property>
        <property key="activeFocus" type="bool">false</property>
        <property key="activeFocusOnTab" type="bool">false</property>
        <property key="rotation" type="double">0</property>
        <property key="scale" type="double">1</property>
        <property key="smooth" type="bool">true</property>
        <property key="antialiasing" type="bool">false</property>
        <property key="implicitWidth" type="double">0</property>
        <property key="implicitHeight" type="double">0</property>
        <property key="availableWidth" type="double">1501</property>
        <property key="availableHeight" type="double">970</property>
        <property key="padding" type="double">0</property>
        <property key="topPadding" type="double">0</property>
        <property key="leftPadding" type="double">0</property>
        <property key="rightPadding" type="double">0</property>
        <property key="bottomPadding" type="double">0</property>
        <property key="spacing" type="double">0</property>
        <property key="mirrored" type="bool">false</property>
        <property key="visualFocus" type="bool">false</property>
        <property key="hovered" type="bool">false</property>
        <property key="hoverEnabled" type="bool">false</property>
        <property key="wheelEnabled" type="bool">false</property>
        <property key="baselineOffset" type="double">0</property>
        <property key="horizontalPadding" type="double">0</property>
        <property key="verticalPadding" type="double">0</property>
        <property key="implicitContentWidth" type="double">0</property>
        <property key="implicitContentHeight" type="double">0</property>
        <property key="implicitBackgroundWidth" type="double">0</property>
        <property key="implicitBackgroundHeight" type="double">0</property>
        <property key="topInset" type="double">0</property>
        <property key="leftInset" type="double">0</property>
        <property key="rightInset" type="double">0</property>
        <property key="bottomInset" type="double">0</property>
        <property key="contentWidth" type="double">0</property>
        <property key="contentHeight" type="double">0</property>
        <property key="minSize" type="int">50</property>
        <property key="showDockButton" type="bool">true</property>
        <property key="showCloseButton" type="bool">true</property>
        <property key="showCollapseButton" type="bool">true</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
        <property key="standalone" type="bool">false</property>
        <property key="dockIcon" type="string">▁</property>
        <property key="collapseIcon" type="string">▴</property>
        <property key="expandIcon" type="string">▾</property>
        <property key="floatIcon" type="string">□</property>
        <property key="closeIcon" type="string">✕</property>
        <property key="cardBackground" type="string">#00000000</property>
        <property key="lastHeight" type="int">50</property>
        <property key="pluginToolBarColor" type="string">#81d4fa</property>
        <property key="pluginToolBarTextColor" type="string">#303030</property>
    </ignition-gui>
    <engine>ogre</engine>
    <scene>scene</scene>
    <ambient_light>0.4 0.4 0.4</ambient_light>
    <background_color>0.8 0.8 0.8</background_color>
    <camera_pose>1 0 0.1 0 0.05 3.14</camera_pose>
</plugin>
<plugin filename="WorldControl">
    <ignition-gui>
        <title>World control</title>
        <anchor line="left" target="window" target_line="left" />
        <anchor line="bottom" target="window" target_line="bottom" />
        <property key="x" type="double">0</property>
        <property key="y" type="double">0</property>
        <property key="z" type="double">1</property>
        <property key="width" type="double">400</property>
        <property key="height" type="double">72</property>
        <property key="opacity" type="double">1</property>
        <property key="enabled" type="bool">true</property>
        <property key="visible" type="bool">true</property>
        <property key="state" type="string">docked</property>
        <property key="baselineOffset" type="double">0</property>
        <property key="clip" type="bool">false</property>
        <property key="focus" type="bool">false</property>
        <property key="activeFocus" type="bool">false</property>
        <property key="activeFocusOnTab" type="bool">false</property>
        <property key="rotation" type="double">0</property>
        <property key="scale" type="double">1</property>
        <property key="smooth" type="bool">true</property>
        <property key="antialiasing" type="bool">false</property>
        <property key="implicitWidth" type="double">0</property>
        <property key="implicitHeight" type="double">0</property>
        <property key="availableWidth" type="double">400</property>
        <property key="availableHeight" type="double">72</property>
        <property key="padding" type="double">0</property>
        <property key="topPadding" type="double">0</property>
        <property key="leftPadding" type="double">0</property>
        <property key="rightPadding" type="double">0</property>
        <property key="bottomPadding" type="double">0</property>
        <property key="spacing" type="double">0</property>
        <property key="mirrored" type="bool">false</property>
        <property key="visualFocus" type="bool">false</property>
        <property key="hovered" type="bool">false</property>
        <property key="hoverEnabled" type="bool">false</property>
        <property key="wheelEnabled" type="bool">false</property>
        <property key="baselineOffset" type="double">0</property>
        <property key="horizontalPadding" type="double">0</property>
        <property key="verticalPadding" type="double">0</property>
        <property key="implicitContentWidth" type="double">0</property>
        <property key="implicitContentHeight" type="double">0</property>
        <property key="implicitBackgroundWidth" type="double">0</property>
        <property key="implicitBackgroundHeight" type="double">0</property>
        <property key="topInset" type="double">0</property>
        <property key="leftInset" type="double">0</property>
        <property key="rightInset" type="double">0</property>
        <property key="bottomInset" type="double">0</property>
        <property key="contentWidth" type="double">0</property>
        <property key="contentHeight" type="double">0</property>
        <property key="minSize" type="int">50</property>
        <property key="showDockButton" type="bool">true</property>
        <property key="showCloseButton" type="bool">true</property>
        <property key="showCollapseButton" type="bool">true</property>
        <property key="showTitleBar" type="bool">false</property>
        <property key="resizable" type="bool">false</property>
        <property key="standalone" type="bool">false</property>
        <property key="dockIcon" type="string">▁</property>
        <property key="collapseIcon" type="string">▴</property>
        <property key="expandIcon" type="string">▾</property>
        <property key="floatIcon" type="string">□</property>
        <property key="closeIcon" type="string">✕</property>
        <property key="cardBackground" type="string">#00000000</property>
        <property key="lastHeight" type="int">50</property>
        <property key="pluginToolBarColor" type="string">#81d4fa</property>
        <property key="pluginToolBarTextColor" type="string">#303030</property>
    </ignition-gui>
    <play_pause>1</play_pause>
    <step>1</step>
    <start_paused>1</start_paused>
</plugin>
<plugin filename="ComponentInspector">
    <ignition-gui>
        <property key="x" type="double">0</property>
        <property key="y" type="double">0</property>
        <property key="z" type="double">0</property>
        <property key="width" type="double">400</property>
        <property key="height" type="double">375</property>
        <property key="opacity" type="double">1</property>
        <property key="enabled" type="bool">true</property>
        <property key="visible" type="bool">true</property>
        <property key="state" type="string">docked</property>
        <property key="baselineOffset" type="double">0</property>
        <property key="clip" type="bool">false</property>
        <property key="focus" type="bool">false</property>
        <property key="activeFocus" type="bool">false</property>
        <property key="activeFocusOnTab" type="bool">false</property>
        <property key="rotation" type="double">0</property>
        <property key="scale" type="double">1</property>
        <property key="smooth" type="bool">true</property>
        <property key="antialiasing" type="bool">false</property>
        <property key="implicitWidth" type="double">0</property>
        <property key="implicitHeight" type="double">0</property>
        <property key="availableWidth" type="double">400</property>
        <property key="availableHeight" type="double">375</property>
        <property key="padding" type="double">0</property>
        <property key="topPadding" type="double">0</property>
        <property key="leftPadding" type="double">0</property>
        <property key="rightPadding" type="double">0</property>
        <property key="bottomPadding" type="double">0</property>
        <property key="spacing" type="double">0</property>
        <property key="mirrored" type="bool">false</property>
        <property key="visualFocus" type="bool">false</property>
        <property key="hovered" type="bool">false</property>
        <property key="hoverEnabled" type="bool">false</property>
        <property key="wheelEnabled" type="bool">false</property>
        <property key="baselineOffset" type="double">0</property>
        <property key="horizontalPadding" type="double">0</property>
        <property key="verticalPadding" type="double">0</property>
        <property key="implicitContentWidth" type="double">0</property>
        <property key="implicitContentHeight" type="double">0</property>
        <property key="implicitBackgroundWidth" type="double">0</property>
        <property key="implicitBackgroundHeight" type="double">0</property>
        <property key="topInset" type="double">0</property>
        <property key="leftInset" type="double">0</property>
        <property key="rightInset" type="double">0</property>
        <property key="bottomInset" type="double">0</property>
        <property key="contentWidth" type="double">0</property>
        <property key="contentHeight" type="double">0</property>
        <property key="minSize" type="int">50</property>
        <property key="showDockButton" type="bool">true</property>
        <property key="showCloseButton" type="bool">true</property>
        <property key="showCollapseButton" type="bool">true</property>
        <property key="showTitleBar" type="bool">true</property>
        <property key="resizable" type="bool">true</property>
        <property key="standalone" type="bool">false</property>
        <property key="dockIcon" type="string">▁</property>
        <property key="collapseIcon" type="string">▴</property>
        <property key="expandIcon" type="string">▾</property>
        <property key="floatIcon" type="string">□</property>
        <property key="closeIcon" type="string">✕</property>
        <property key="cardBackground" type="string">#00000000</property>
        <property key="lastHeight" type="int">50</property>
        <property key="pluginToolBarColor" type="string">#81d4fa</property>
        <property key="pluginToolBarTextColor" type="string">#303030</property>
    </ignition-gui>
</plugin>
<plugin filename="EntityTree">
    <ignition-gui>
        <property key="x" type="double">0</property>
        <property key="y" type="double">0</property>
        <property key="z" type="double">0</property>
        <property key="width" type="double">400</property>
        <property key="height" type="double">375</property>
        <property key="opacity" type="double">1</property>
        <property key="enabled" type="bool">true</property>
        <property key="visible" type="bool">true</property>
        <property key="state" type="string">docked</property>
        <property key="baselineOffset" type="double">0</property>
        <property key="clip" type="bool">false</property>
        <property key="focus" type="bool">false</property>
        <property key="activeFocus" type="bool">false</property>
        <property key="activeFocusOnTab" type="bool">false</property>
        <property key="rotation" type="double">0</property>
        <property key="scale" type="double">1</property>
        <property key="smooth" type="bool">true</property>
        <property key="antialiasing" type="bool">false</property>
        <property key="implicitWidth" type="double">0</property>
        <property key="implicitHeight" type="double">0</property>
        <property key="availableWidth" type="double">400</property>
        <property key="availableHeight" type="double">375</property>
        <property key="padding" type="double">0</property>
        <property key="topPadding" type="double">0</property>
        <property key="leftPadding" type="double">0</property>
        <property key="rightPadding" type="double">0</property>
        <property key="bottomPadding" type="double">0</property>
        <property key="spacing" type="double">0</property>
        <property key="mirrored" type="bool">false</property>
        <property key="visualFocus" type="bool">false</property>
        <property key="hovered" type="bool">false</property>
        <property key="hoverEnabled" type="bool">false</property>
        <property key="wheelEnabled" type="bool">false</property>
        <property key="baselineOffset" type="double">0</property>
        <property key="horizontalPadding" type="double">0</property>
        <property key="verticalPadding" type="double">0</property>
        <property key="implicitContentWidth" type="double">0</property>
        <property key="implicitContentHeight" type="double">0</property>
        <property key="implicitBackgroundWidth" type="double">0</property>
        <property key="implicitBackgroundHeight" type="double">0</property>
        <property key="topInset" type="double">0</property>
        <property key="leftInset" type="double">0</property>
        <property key="rightInset" type="double">0</property>
        <property key="bottomInset" type="double">0</property>
        <property key="contentWidth" type="double">0</property>
        <property key="contentHeight" type="double">0</property>
        <property key="minSize" type="int">50</property>
        <property key="showDockButton" type="bool">true</property>
        <property key="showCloseButton" type="bool">true</property>
        <property key="showCollapseButton" type="bool">true</property>
        <property key="showTitleBar" type="bool">true</property>
        <property key="resizable" type="bool">true</property>
        <property key="standalone" type="bool">false</property>
        <property key="dockIcon" type="string">▁</property>
        <property key="collapseIcon" type="string">▴</property>
        <property key="expandIcon" type="string">▾</property>
        <property key="floatIcon" type="string">□</property>
        <property key="closeIcon" type="string">✕</property>
        <property key="cardBackground" type="string">#00000000</property>
        <property key="lastHeight" type="int">50</property>
        <property key="pluginToolBarColor" type="string">#81d4fa</property>
        <property key="pluginToolBarTextColor" type="string">#303030</property>
    </ignition-gui>
</plugin>
<plugin filename="TransformControl">
    <ignition-gui>
        <property key="x" type="double">0</property>
        <property key="y" type="double">0</property>
        <property key="z" type="double">0</property>
        <property key="width" type="double">400</property>
        <property key="height" type="double">100</property>
        <property key="opacity" type="double">1</property>
        <property key="enabled" type="bool">true</property>
        <property key="visible" type="bool">true</property>
        <property key="state" type="string">docked</property>
        <property key="baselineOffset" type="double">0</property>
        <property key="clip" type="bool">false</property>
        <property key="focus" type="bool">true</property>
        <property key="activeFocus" type="bool">false</property>
        <property key="activeFocusOnTab" type="bool">false</property>
        <property key="rotation" type="double">0</property>
        <property key="scale" type="double">1</property>
        <property key="smooth" type="bool">true</property>
        <property key="antialiasing" type="bool">false</property>
        <property key="implicitWidth" type="double">0</property>
        <property key="implicitHeight" type="double">0</property>
        <property key="availableWidth" type="double">400</property>
        <property key="availableHeight" type="double">100</property>
        <property key="padding" type="double">0</property>
        <property key="topPadding" type="double">0</property>
        <property key="leftPadding" type="double">0</property>
        <property key="rightPadding" type="double">0</property>
        <property key="bottomPadding" type="double">0</property>
        <property key="spacing" type="double">0</property>
        <property key="mirrored" type="bool">false</property>
        <property key="visualFocus" type="bool">false</property>
        <property key="hovered" type="bool">false</property>
        <property key="hoverEnabled" type="bool">false</property>
        <property key="wheelEnabled" type="bool">false</property>
        <property key="baselineOffset" type="double">0</property>
        <property key="horizontalPadding" type="double">0</property>
        <property key="verticalPadding" type="double">0</property>
        <property key="implicitContentWidth" type="double">0</property>
        <property key="implicitContentHeight" type="double">0</property>
        <property key="implicitBackgroundWidth" type="double">0</property>
        <property key="implicitBackgroundHeight" type="double">0</property>
        <property key="topInset" type="double">0</property>
        <property key="leftInset" type="double">0</property>
        <property key="rightInset" type="double">0</property>
        <property key="bottomInset" type="double">0</property>
        <property key="contentWidth" type="double">0</property>
        <property key="contentHeight" type="double">0</property>
        <property key="minSize" type="int">50</property>
        <property key="showDockButton" type="bool">true</property>
        <property key="showCloseButton" type="bool">true</property>
        <property key="showCollapseButton" type="bool">true</property>
        <property key="showTitleBar" type="bool">true</property>
        <property key="resizable" type="bool">true</property>
        <property key="standalone" type="bool">false</property>
        <property key="dockIcon" type="string">▁</property>
        <property key="collapseIcon" type="string">▴</property>
        <property key="expandIcon" type="string">▾</property>
        <property key="floatIcon" type="string">□</property>
        <property key="closeIcon" type="string">✕</property>
        <property key="cardBackground" type="string">#00000000</property>
        <property key="lastHeight" type="int">50</property>
        <property key="pluginToolBarColor" type="string">#81d4fa</property>
        <property key="pluginToolBarTextColor" type="string">#303030</property>
    </ignition-gui>
</plugin>
</xml>